<div class="flex flex-row w-fit  bg-inherit h-fit flex-grow">
    <div class="font-sans text-sm text-start min-w-[220px] w-fit">
        <h2 class="font-semibold"> {{title}} </h2>
        <h3 class="font-medium tracking-tight text-neutral-500/80 overflow-hidden mb-3"> {{description}} </h3>
        <form  [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="h-fit flex flex-col relative align-middle  py-0 flex-grow w-full">
            <div class="flex flex-col w-full flex-grow justify-center">
                <label for="pass1" class="text-left font-medium  text-xs text-gray-800 block pt-1 "> Current Password </label>
                <div class="border-b-2 mt-0 align-middle text-gray-800 rounded-sm border-gray-300 outline-none py-1 flex flex-row" [ngClass]="{'border-red-800': oldPasswordError , 'border-gray-300': !oldPasswordError}">
                    <input type="password" name="pass1" placeholder="Type your password" formControlName="oldPassword" appNoAutocompleteBg class="text-xs border-b-2 w-full align-middle mb-0 text-gray-800 font-medium border-none outline-none py-1 focus:placeholder:text-transparent indent-2" >
                </div>
            </div>
            <ng-container [formGroup]="passwordGroup" class="flex flex-grow">
                <div class="inline-flex flex-col w-full flex-grow justify-center">
                    <label for="pass1" class="text-left font-medium text-xs text-gray-800 block pt-1 "> New Password </label>
                    <div class="border-b-2 mt-0 align-middle text-gray-800 rounded-sm outline-none py-1 flex flex-row" [ngClass]="{'border-red-800': passwordError || bothPasswordError, 'border-gray-300': !passwordError && !bothPasswordError}">
                        <input type="password" name="pass1" placeholder="Must be at least 8 characters" formControlName="password" appNoAutocompleteBg class="text-xs border-b-2 w-full align-middle mb-0 text-gray-800 font-medium border-none outline-none py-1 focus:placeholder:text-transparent indent-2" >
                    </div>
                </div>
                <div class="inline-flex flex-col w-full flex-grow justify-center">
                    <label for="pass2" class="text-left font-medium text-xs mb-0 text-gray-800 block lg:pt-3 pt-2"> Re-enter Password </label>
                    <div class="border-b-2 mt-0 align-middle text-gray-800 rounded-sm border-gray-300 outline-none py-1 flex flex-row" [ngClass]="{'border-red-800': confirmPasswordError || bothPasswordError, 'border-gray-300': !confirmPasswordError && !bothPasswordError}">
                        <input type="password" name="pass2" placeholder="Must be at least 8 characters" formControlName="confirmPassword" appNoAutocompleteBg class="text-xs  align-middle text-gray-800 font-medium outline-none py-1 focus:placeholder:text-transparent indent-2 w-full" >
                    </div>
                </div>
            </ng-container>
            <ng-container class="w-full flex flex-col">
                <h2 class="font-medium" [ngClass]="{'text-red-600': isPasswordWeakError}" > Passwords Must Be Between 8-32 Characters long </h2>
                <h2 class="font-medium" [ngClass]="{'text-red-600': passwordWhitespaceError}" > No spaces are allowed </h2>
                <h2 class="font-medium" [ngClass]="{'text-red-600': mismatchedPasswordError}" > Passwords Must Match </h2>
            </ng-container>
            <div class="w-full flex flex-grow flex-col justify-center px-1">
                <button type="submit" [ngClass]="{'hover:animate-bgShift': firstAnimationPhase, 'animate-oppBgShift': !firstAnimationPhase && !preAnimation}" (mouseenter)="updateAnimationState()" (mouseleave)="updateAnimationState()"  class="text-white float-left font-semibold bg-[length:300%] bg-gradient-to-l md:my-50 hover:scale-[101%] from-[#EB5F0C] via-[#ee874b] to-[#f5a679]  py-3 text-center my-3 shadow-black shadow-inner rounded-full"> Reset Password </button>
            </div>
            
        </form>
    </div>
</div>