<!-- <div class="min-h-full w-full h-fit align-middle top-0 bg-neutral-100 absolute flex flex-col overflow-hidden"> 
    <div class="w-[50vw] h-[50vh] m-auto bg-slate-300 p-1 text-center rounded-sm shadow-md">
        <p class="my-auto h-full flex items-center"> Bio: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, nisi laudantium quidem vel nobis totam culpa. Porro, aliquam illum. Unde qui et adipisci vero perferendis vitae eligendi voluptatem eaque facere!</p>
    </div>
</div> -->
<div class="relative w-full text-center overflow-x-hidden">
    <div class="my-2">
        <h2 class="text-black md:text-6xl text-4xl font-sans tracking-tighter text-center font-bold py-3 relative"> For students, by students </h2>
        <p class="w-[60%] mx-auto py-3 text-base"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima expedita aliquam ipsa dolorum eius vitae consequuntur omnis. Facere magni voluptates rerum, blanditiis natus voluptate ipsam culpa quis nemo! Incidunt, sunt.</p>
    </div>
    <div class="flex md:flex-row flex-col w-full items-center md:border-t-0 border-t border-t-[#121212] py-5">
        <div class="flex flex-col m-1 text-[#121212] font-sans tracking-tight md:text-start text-center md:w-[50%] w-[90%] items-center">
            <h2 class="text-2xl font-semibold py-3 md:w-[70%] mx-auto"> The journey to better eating</h2>
            <p class="py-2 md:w-[70%] mx-auto text-base"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sed odio nulla tempora corporis aspernatur fugit maxime amet odit. Rerum saepe laboriosam a assumenda ipsum corrupti sunt harum, quod dignissimos.</p>
        </div>
        <img class="m-auto rounded-lg md:w-[40%] w-[90%]" src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&w=1000&q=80" width="40%" height="30%" alt="oops" srcset="">
    </div>
    <div class="flex md:flex-row flex-col w-full items-center md:border-t-0 border-t border-t-[#121212] py-5">
        <img class="m-auto rounded-lg md:w-[40%] w-[90%]" src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&w=1000&q=80" width="40%" height="30%" alt="oops" srcset="">
        <div class="flex flex-col m-1 text-[#121212] font-sans tracking-tight md:text-start text-center md:w-[50%] w-[90%] items-center">
            <h2 class="text-2xl font-semibold py-3 md:w-[70%] mx-auto"> Transforming the UVA Community </h2>
            <p class="py-2 md:w-[70%] mx-auto"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sed odio nulla tempora corporis aspernatur fugit maxime amet odit. Rerum saepe laboriosam a assumenda ipsum corrupti sunt harum, quod dignissimos.</p>
        </div>
    </div>
    <div class="w-full py-5">
        <h2 class="md:w-[60%] mx-auto font-semibold font-sans tracking-normal md:text-4xl text-3xl md:py-[10%] py-[20%] text-[#EB5F0C]"> We simplify the University of Virginia's food</h2>
    </div>
    <div class="flex md:flex-row flex-col w-full items-center md:border-t-0 border-t border-t-[#121212] py-5">
        <div class="flex flex-col m-1 text-[#121212] font-sans tracking-tight md:text-start text-center md:w-[50%] w-[90%] items-center">
            <h2 class="text-2xl font-semibold py-3 md:w-[70%] mx-auto"> Empowering Students </h2>
            <p class="py-2 md:w-[70%] mx-auto text-base"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sed odio nulla tempora corporis aspernatur fugit maxime amet odit. Rerum saepe laboriosam a assumenda ipsum corrupti sunt harum, quod dignissimos.</p>
        </div>
        <img class="m-auto rounded-lg md:w-[40%] w-[90%]" src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&w=1000&q=80" width="40%" height="30%" alt="oops" srcset="">

    </div>
    <div class="w-full py-[5%] font-sans bg-[#232d4849] text-neutral-50">
        <h2 class="w-full text-center font-semibold md:text-5xl text-3xl pb-10"> Meet the team </h2>
        <img class="mx-auto rounded-lg py-5 my-5 md:w-[20%] w-[70%]" src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg" alt="user" width="20%" height="30%">
        <h3 class="text-xl"> Jonathan Deng </h3>
        <h4 class="text-sm"> Lead Designer, Programmer, and Marketer </h4>
    </div>
    <footer class="w-full min-h-[60%] h-fit bg-[#232D48] relative text-start text-neutral-200 md:p-[3%] p-5">
        <h2 class="text-3xl font-semibold"> Want to Connect? </h2>
        <p class="py-1"> Join our personalized newsletter to stay up to date with UVA's food menu </p>
        <div class="flex flex-row mx-0 py-5">
            <input placeholder="Your Email" type="email" class="focus:outline-none rounded-l-md p-1 text-[#121212]" spellcheck="false">
            <button class="rounded-r-md bg-[#EB5F0C] p-1 font-semibold">CONNECT</button>
        </div>
        <p class="md:w-[40%] w-[90%] mr-auto py-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ipsa quod provident? Sunt, voluptates. Optio, vitae. Odit, ut vero quidem ipsam voluptatem iure, cupiditate repellendus cum natus tempore sed labore!</p>
        <h6> &copy; HooRank, 2023 </h6>
    </footer>
</div>

