<div class=" h-[100vh] w-[100vw] bg-gradient-to-b from-red-400/80 to-yellow-300/80 via-orange-300/90 fixed flex overflow-hidden"> <!-- container -->
    <div class="h-full w-[30%] bg-gradient-to-b from-black/10 to-black/20 rounded-md shadow-lg shadow-black"> <!-- left div 40%-->

    </div>
    <div class="h-full w-[70%] self-end flex items-center justify-center relative"> <!-- other containering div -->
        <div> <!-- title ? -->

        </div>
        <div class="min-h-[400px] h-fit min-w-[200px] w-[70%] bg-white rounded-md shadow-md shadow-black  "> <!-- text -->
            dasds
        </div>

    </div>
</div>
