
<div class="w-full">
    <div class="items-center text-center w-full bg-neutral-100 flex-shrink-0 flex justify-evenly sticky xl:text-2xl lg:text-lg sm:text-sm md:text-base text-xs p-0 outline-none  border-b border-b-neutral-300/60 z-30">
        <app-button class="rounded-t-md w-full  hover:cursor-pointer" [name]="name1" (click)="changeData($event)" [selected]="name1Boolean"  >  </app-button> <!-- add like no outline/bg for this button if not selected-->
        <app-button class="rounded-t-md w-full hover:cursor-pointer" [name]="name2" (click)="changeData($event)" [selected]="name2Boolean"  >  </app-button>
        <app-button class="rounded-t-md w-full hover:cursor-pointer" [name]='name3' (click)="changeData($event)" [selected]="name3Boolean"  >  </app-button>
    </div>
    <div class=" w-full items-center justify-center text-center">
        <app-dininghall class="" text="OBSERVATORY HILL DINING HALL" [show]="name1Boolean" short="ohill" [ngClass]="{'hidden':!name1Boolean, 'flex':name1Boolean}"></app-dininghall>
        <app-dininghall class="" text="RUNK DINING HALL" [show]="name3Boolean" short="runk"  [ngClass]="{'hidden':!name3Boolean, 'flex':name3Boolean}"></app-dininghall>
        <app-dininghall class="" text="NEWCOMB DINING HALL" [show]="name2Boolean" short="newcomb" [ngClass]="{'hidden':!name2Boolean, 'flex':name2Boolean}"></app-dininghall>
    </div>
</div>
