<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> UVA_FOOD_JUNKIE </title>
    <script src="./frontend.js" defer ></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="navbar">
        <h1> UVA DINING HALL REVIEW </h1>
    </div>
    <div class="main">
        <iframe id="content" src="/api/ohill" frameborder="0"></iframe>
        <iframe src="/api/runk" frameborder="0"></iframe>
        <iframe src="/api/newcomb" frameborder="0"></iframe>
    </div>
    


</body>
</html>