<div class="w-full relative">
    <div class="relative items-center text-center w-full bg-neutral-100 flex-shrink-0 flex justify-evenly xl:text-2xl lg:text-lg sm:text-sm md:text-base text-xs p-0 outline-none z-10 border-b border-b-neutral-300/60">
        <div *ngFor="let diningHall of diningHalls">
            <app-button class="rounded-t-md w-full  hover:cursor-pointer" [name]="getButtonName(diningHall)" (click)="changeData(diningHall)" [selected]="diningHall == activeDiningHall" ></app-button>
        </div>
    </div>
    <div class="w-full flex flex-col items-center justify-center text-center">
        <div *ngFor="let diningHall of diningHalls" class=" w-full">
            <div 
                [ngClass]="{'hidden': diningHall !== activeDiningHall, 'flex': diningHall === activeDiningHall}" 
                class="w-full flex"
            >
                <app-dininghall 
                    class="w-full"
                    [displayHallName]="diningHall + ' Dining Hall'" 
                    [displayDiningHall]="diningHall"
                ></app-dininghall>
            </div>

        </div>
    </div>
</div>
