<div id="navbar" class="flex align-middle justify-center w-full">
    <h1 class="font-bold xl:text-6xl lg:text-4xl sm:text-lg md:text-2-lg align-center first-letter:text-amber-400"> HooRank </h1> 
    <ul class="text-lg flex gap-2 justify-end w-full mr-1 items-center">
        <li>
            <button>
                See Reviews
            </button>
            
        </li>
        <li>
            <button>About us</button>
            

        </li>
        <li>
            <button> Sign in </button>
            
        </li>
        <li>
            <button> Register </button>
            
        </li>
    </ul>
</div>
