/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .star-border {
        text-shadow: 0 0 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black, 1px -1px 1px black;
    }
    .inactive-star-fill {
        text-shadow: 0 0 0 #fff;
    }
    .inactive-star-fill-opaque {
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.100), -1px -1px 1px rgba(53, 50, 50, 0.1), -1px 1px 1px rgba(53, 50, 50, 0.100), 1px 1px 1px rgba(53, 50, 50, 0.100), 1px -1px 1px rgba(53, 50, 50, 0.100);
    }
    .active-star {
        position: reltaive;
        margin: auto;
        min-width: 15px;
        min-height: 15px;
        color: transparent;
        text-shadow: 0 0 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black, 1px -1px 1px black;
    }
    .active-star-fill {
        text-shadow: 0 0 0 rgb(223, 223, 12);
    }
    .spin {
        background: -webkit-linear-gradient(to right, rgb(80, 77, 77) 0 30%, white 30% 100%);
        background: -moz-linear-gradient(to right, rgb(59, 58, 58) 0 30%, white 30% 100%);
        background: linear-gradient(to right, rgb(65, 62, 62) 0 30%, rgb(179, 172, 172) 30% 100%);
    }
}

@media only screen and (max-width:1920px) { /* add later */
    ::-webkit-scrollbar {
        max-width: min-content;
        max-height: min-content;
        width: .7em;
        height: .7em;
        display:none;
        
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(86, 88, 69, 0.808);
        outline: black;
        display: none;
        outline-width: 2px;
        border-radius: 2rem;
        padding: 1px;
        margin: 0;
    }

    ::-webkit-scrollbar-thumb:hover {
        display: inline-block;
    }

    ::-webkit-scrollbar-corner {
        border-radius: 2rem;
    }
}

