<footer class="w-full min-h-[60%] bg-[#232D48] text-neutral-200 md:p-[3%] p-5">
        <h2 class="text-3xl font-semibold">Want to Connect?</h2>
        <p class="py-1">
            Join our personalized newsletter to stay up to date with UVA's food menu
        </p>
        <div class="flex flex-row mx-0 py-5">
            <input
                type="email"
                placeholder="Your Email"
                class="focus:outline-none rounded-l-md p-1 text-[#121212]"
                spellcheck="false"
            />
            <button class="rounded-r-md bg-[#EB5F0C] p-1 font-semibold">
                CONNECT
            </button>
        </div>
        <p class="md:w-[40%] w-[90%] mr-auto py-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ipsa quod
            provident? Sunt, voluptates.
        </p>
        <h6>&copy; HooRank, {{ year }}</h6>
</footer>
