<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{ title }}</title>
</head>
<body class="bg-slate-100 select-none">
  
  <app-nav class="text-center font-bold xl:6xl lg:text-4xl sm:text-lg md:text-lg text-sm flex flex-row flex-wrap flex-auto bg-gradient-to-b from-red-500 to-orange-500 text-gray-100 sticky top-0 z-10 border-b-[1px] border-orange-300/50 "></app-nav>
  <router-outlet></router-outlet>
</body>
</html>