<div class="stars_container flex-row flex">
    <div class="star" id="star1">
        <input type="radio" name="stars" id="star-a" class="hidden">
        <label for="star-a" class="w-[30px] h-[30px] font-[Verdana] bg-ornage-300 text-lg before:content-['\2606'] before:position-[absolute] before:top-[0px] before:line-height-[26px] "></label>
    </div>
    <div class="star" id="star2"></div>
    <div class="star" id="star3"></div>
    <div class="star" id="star4"></div>
    <div class="star" id="star5"></div>
</div>