<span *ngIf="selected == true; else eb">
    <button class="xl:pr-2 p-[1px] lg:pr-1 md:pr-[3px] sm:pr-[2px] xl:pl-2 pl-[1px] lg:pl-1 md:pl-[3px] sm:pl-[2px] lg:pt-1 lg:pt-b pt-[2px] pb-[2px] font-light xl:text-lg lg:text-base sm:text-sm md:text-sm text-xs lg:mr-2 mr-1 ml-1 lg:ml-2 lg:mt-1 lg:mb-1 mt-[2px] mb-[2px] rounded-full text-rose-100 bg-green-300/20" appTextShadow> {{ name }}</button>
</span>
<ng-template #eb>
    <button class=" xl:pr-2 p-[1px] lg:pr-1 md:pr-[3px] sm:pr-[2px] xl:pl-2 pl-[1px] lg:pl-1 md:pl-[3px] sm:pl-[2px] lg:pt-1 lg:pt-b pt-[2px] pb-[2px] font-light xl:text-lg lg:text-base sm:text-sm md:text-sm text-xs lg:mr-2 mr-1 ml-1 lg:ml-2 lg:mt-1 lg:mb-1 mt-[2px] mb-[2px] rounded-full text-rose-100" appTextShadow> {{ name }}</button>
</ng-template>

