<!-- Standard Nav Links -->
<li class="lg:mx-2 mx-1">
  <button class="flex items-center hover:text-amber-400/70 scale-105" routerLink="../reviews" appTextShadow>
    REVIEWS
  </button>
</li>

<li class="lg:mx-2 mx-1">
  <button class="flex items-center hover:text-amber-400/70 scale-105" routerLink="../aboutus" appTextShadow>
    ABOUT US
  </button>
</li>

<li class="lg:mx-2 mx-1" *ngIf="!isSignedIn">
  <button class="flex items-center hover:text-amber-400/70 scale-105" routerLink="../login" appTextShadow>
    SIGN IN
  </button>
</li>

<li class="lg:mx-2 mx-1" *ngIf="!isSignedIn">
  <button class="flex items-center hover:text-amber-400/70 scale-105" routerLink="../register" appTextShadow>
    REGISTER
  </button>
</li>
