<div *ngFor="let head of headers" class="justify-center">
    <h3 class="block font-medium lg:text-xl sm:text-md md:text-lg align-middle text-s self-center mt-auto"> {{ head }} </h3>
    <br>
    <div class="itemCat flex-row flex p-2 overflow-auto " >
        <div *ngFor="let item of shopToItems[head] | keyvalue; let i = index">
            <app-item [short] = 'short' [indicator]="i"  [stationName]="head" class="block outline-double outline-4 outline-rose-100" >
            </app-item>
        </div>
    </div>
</div>
